<h2>New Task</h2>
<%= form_for(@task) do |f| %>
  <ul><%= f.label :title %>
  <%= f.text_field :title %></ul>

  <ul><%= f.label :description %>
  <%= f.text_field :description %></ul>

  <ul><%= f.label :due_date %>
  <%= f.date_field :due_date %></ul>

  <ul><%= f.label :tags %>
  <%= f.text_area :tag_parse %></ul>

  <ul><%= f.submit %></ul>

<% end %>
