<p id="notice"><%= notice %></p>

<ul><%= @task.title %></ul>
<ul><%= @task.description %></ul>
<ul><%= @task.due_date %></ul>
<% @task.tags.each do |ts| %>
  <li><%= link_to ts.tag, tag_path(ts) %></li>
<% end %>
